#messages
  color: lightgrey

.synthkey
  fill: red

.synthkey.playing
  fill: purple 
  
.drumkey
  fill: green

body
  padding: 20px

.navbar-header .navbar-brand
  color: red
  font: 1.5em bold
  font-family: 'Lobster', cursive

#hometag
  color: limegreen
  font-size: 1.5em
  font-family: 'Lobster', cursive


#insttag
  color: blue
  font-size: 1.5em
  font-family: 'Lobster', cursive

button
  font-family: 'Lobster', cursive

div
  float: left